.container{
  display : flex;
  flex-flow : row wrap;
  justify-content : space-between;
}
.container>div{
  margin-right : 1em;
}
.viewer canvas{
  border-radius : 1em;
}
.selector{
  width : calc(18vw - 18px);
}
.selector .component-selector.add button{
  font-size : 1em;
  border-radius : 1em;
  padding : 0.5em 1em;
  background-color: white;
  margin-top: 0.2em;
}