.container1{
  display : flex;
  flex-flow : column;
  justify-content : space-between;
}
.viewer canvas{
  border-radius : 1em;
}
.selector{
  display: flex;
  flex-flow: row wrap;
  margin: 0;
}
div.Sticky{
  width: 100%;
}
.selector .component-selector.add button{
  font-size : 1em;
  border-radius : 1em;
  padding : 0.5em 1em;
  background-color: white;
  margin-top: 0.2em;
}
/* .viewer.light-theme {
  background-color: white;
}

.viewer.dark-theme {
  background-color: black;
} */

/* index.css */
.clickable {
  cursor: pointer;
}
body.light-theme {
  background-color: white;
  color: black; /* Add any other styles you want for light theme here */
}

body.dark-theme {
  background-color: black;
  color: white; /* Add any other styles you want for dark theme here */
}
